.App {
  text-align: center;
  display: flex;

}

/* .App>div {
  border: 1px solid red;
  width: 100%;
} */

.main-container {
  width: calc(100vw - 300px);
  margin: auto;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.main-body-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 20px) and (max-width: 800px) {
  .sidebar_container {
    display: none;
  }

  .main-container {
    width: 100vw;
  }
}

/* 1px solid #2a2b33 */