body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* :root {
  --primary-background: white;
  --primary-background-dark:
    #f0f0f0;
  --secondary-background: #EDEDF6;
  --primary-color: #1d90f5;
  --gradient-color1: #E17CFD;
  --gradient-color2: #dcc060;
} */

/* :root {
  --primary-background: white;
  --primary-background-dark: #efefff;
  --secondary-background: #EDEDF6;
  --primary-color: #7166F9;
  --gradient-color1: #E17CFD;
  --gradient-color2: #4CD7F6;
  --hover-background: #ececec
} */